  <div class="jumbotron">
    <h1>Welcome to Tooter</h1>
      <p>Come read up on what your friends are doing!</p>
        <%= link_to "Sign Up", new_user_registration_url, class: "btn btn-lg btn-primary" %>
  </div>
